
@{
    ViewBag.Title = "FreelancerCV";
}

<h2>Mitt CV</h2><br>

<div class="row">
   <div class="col-md-6">
<div class="card border-primary" style="max-width: 25rem;">
    <div class="card-header">Kontaktuppgifter</div>
    <div class="card-body">
        <label class="col-form-label" for="inputDefault">Namn</label>
        <input type="text" class="form-control" placeholder="Förnamn och efternamn" id="inputDefault">
        <label class="col-form-label" for="inputDefault">Epost</label>
        <input type="text" class="form-control" placeholder="exempel@exempel.se" id="inputDefault">
        <label class="col-form-label" for="inputDefault">Mobilnummer</label>
        <input type="text" class="form-control" placeholder="Ex. 070*******" id="inputDefault">
        <label class="col-form-label" for="inputDefault">Stad</label>
        <input type="text" class="form-control" placeholder="Ex. Stockholm" id="inputDefault">
    </div>
   </div>
</div>

<div class="col-md-6">
<div class="card border-primary col-mb-6" style="max-width: 50rem;">
    <div class="card-header">Utbildning och yrke</div>
    <div class="card-body">
        <label class="col-form-label" for="inputDefault">Yrke</label>
        <input type="text" class="form-control" placeholder="Ex. Programmerare, Javautvecklare" id="inputDefault">
        <label class="col-form-label" for="inputDefault">Utbildning</label>
        <input type="text" class="form-control" placeholder="Ex. Mittuniversitetet- Informatik" id="inputDefault">
        <label class="col-form-label" for="inputDefault">Språk</label>
        <input type="text" class="form-control" placeholder="Ex. Engelska, Spanska" id="inputDefault">
        <br>
        <div class="form-group">
            <label>Körkort</label>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                <label class="custom-control-label" for="customCheck1">Ja</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck2" disabled="">
                <label class="custom-control-label" for="customCheck2">Nej</label>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<br><div class="form-group">
    <label for="exampleTextarea">Berätta lite om dig själv</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
</div><br>

<div class="form-group">
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
        </div>
        <div class="input-group-append">
            <span class="input-group-text" id="">Upload</span>
        </div>
    </div>
</div>



