
@{
    ViewBag.Title = "ProfileFreelancer";
}

<br><h1>Profil</h1><br><br>

<div class="jumbotron">
<h2>Mitt CV</h2><br>
<div class="row">
    <div class="col-md-6">
        <h3 class="card-header">Kontakuppgifter</h3>
        <div class="card-body">
            <h5 class="card-title">Namn</h5>
            <h6 class="card-subtitle text-muted"> Petter Pettersson</h6><br>

            <h5 class="card-title">Epost</h5>
            <h6 class="card-subtitle text-muted">PetterPetterson@gmail.com</h6><br>

            <h5 class="card-title">Telefonnummer</h5>
            <h6 class="card-subtitle text-muted">0700000000</h6><br>

            <h5 class="card-title">Stad</h5>
            <h6 class="card-subtitle text-muted">Stockholm</h6><br>
        </div>
    </div>
    

    <div class="col-md-6">
        <h3 class="card-header">Foto</h3>
        <div class="card-body">
        <img style="height: 300px; width: 100%; display: block;" src="~/Content/Img/ProfilePic.png" alt="Card image">   
            
        </div>
    </div>
</div>

@*<p><label>Namn: </label> Petter Petterson</p>
<p><label>Email: </label> PetterPetterson@gmail.com</p>
<p><label>Telefonnummer: </label> 0700000000</p>
<p><label>Stad: </label> Stockholm</p>*@

<hr class="PLine">
<div class="row">
    <div class="col-md-6">
        <h3 class="card-header">Kompetenser</h3>
        <div class="card-body">
            <h5 class="card-title">Språk</h5>
            <h6 class="card-subtitle text-muted">Svenska, Engelska</h6><br>

            <h5 class="card-title">Färdigheter</h5>
            <h6 class="card-subtitle text-muted">Javascript, HTML, CSS</h6>
        </div>
    </div>

    <br>

    <div class="col-md-6">
        <h3 class="card-header">Utbildning & arbetslivserfarenhet</h3>
        <div class="card-body">
            <h5 class="card-title">Utbildning</h5>
            <h6 class="card-subtitle text-muted">Informatik med inriktning systemutveckling</h6><br>

            <h5 class="card-title">Arbetslivserfarenheter</h5>
            <h6 class="card-subtitle text-muted">2019- Webbutvecklare på A-Team Consulting</h6>
        </div><br><br>

    </div><br><br><br>
    <hr class="PLine"><br>
    <a href='@Url.Action("FreelancerCV", "ProfileFreelancer")'>
        <input id="EditBtn" type='button' class="btn btn-primary btn-lg" value='Redigera CV' />
    </a>
</div>

</div>
