
@{
    ViewBag.Title = "ProfileFreelancer";
}

<br><h2>Profil</h2><br><br>

<p>Här ser vi frilansarens profil</p><br>

<a href='@Url.Action("FreelancerCV", "ProfileFreelancer")'>
<input type='button' class="btn btn-primary btn-lg" value='CV' />
</a>

