
@{
    ViewBag.Title = "UpdatedCV";
}

//Lägg till namn med CV
<h2>CV</h2>

<div class="card border-primary" style="max-width: 80rem;">
    @*<div class="row">*@

    <div class="card-header">Kontaktuppgifter</div>
    <div class="card-body">
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Förnamn</label><br />


        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Efternamn</label><br />

        </div>

        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Nationalitet</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Epost</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Telefonnummer</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Födelsedatum</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Födelseort</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Adress</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Postnummer</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Stad</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Yrke</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Kompetens</label><br />

        </div>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Språk</label><br />

        </div>
    </div>
