/*//Allmänt och övergripande*/

h1 {
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

#Navbar{
    height: 120px;
}

#EditBtn{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 3cm;
}

/*//Registeringssidorna*/
#btnRegisterEmployer2 {
    margin-left: 1cm;
}
#btnRegisterFreelancer2 {
    margin-left: 1cm;
}
#RegisterForm{
    margin-left: 10cm;
}
#RegisterFormText{
    margin-left: 7cm;
}

/*//Startsidan*/
#registerText {
    text-align: left;
}
#registerparagraf{
    text-align: center;
}
#indexBtnRegisterFreelancer, indexBtnRegisterEmployer {
    margin-left: 3cm;
}
#indexBtnRegisterEmployer {
    margin-left: 3cm; 
}

footer {
    text-align: center;
}

/*//Om oss-sidan*/
#TextAboutUs{
    text-align: center;
}

/*//Frilansarens profilsida (ProfileFreelancer)*/
#LinkGithub, LinkLinkedin {
    text-align: right;
    list-style: none;
    display: inline;
}

#CreateCVBtn{
    margin-left: 12cm;
}

#ProfileButtons{
    margin: 0,5cm;
}
#ShowCvBtn{
    margin-left: 3cm;
}


/*//Kontakt-sidan*/
#ContactPic{
    margin-left: 3cm;
   
}

/*//Logga in-sidorna*/
#LogInPage{
    margin-left: 9cm;
}
#LogInText{
    margin-left: 9cm;
}

#LogInBtn{
    margin-left: 2cm;
}
  