h1{
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}
 
/*h3{
    font-size: 20px;
    text-align: center;
}*/

#registerText{
    text-align: left;
    
}

#EditBtn{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-left: 3cm;
}

#btnRegisterFreelancer {
    text-align: right;
    padding-right: 5cm;
}

#btnRegisterEmployer{
    text-align: right;
    padding-right: 5cm;
}

footer {

    text-align: center;
}

#LinkGithub, LinkLinkedin{
    text-align: right;
    list-style: none;
    display: inline;
    /*height: 50px;*/
}


  