h2{
    font-size: 30px;

}

#EditBtn{
    text-align: right;
    color: blue;
}

footer {
    background: #000000;
    width: 100%;
    overflow: hidden;
    opacity: 0.90;
    text-align: center;
}
   
footer.second {
        border-top: 1px solid #404E50;
        background-color: #000000;
        max-height: 60px;
        text-align: center;
        opacity: 1;
    }