@{
    ViewBag.Title = "Om oss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div class="jumbotron">
    <h3 id="TextAboutUs">Om oss</h3>
    <br>
    <div class="col m-b-3">
        <div class="lead will-animate" >
            <p>
                <strong>
                    A-team Consultings affärsidé är att det ska vara snabbt och enkelt för en kund att möta och jobba med talanger inom olika kompetensområden.
                    Detta görs genom att frilansare registrerar sin profil och sitt CV så att sedan kunder kan hitta sin nya stjärna.
                </strong> <br /><br />
                Bolaget startade sin verksamhet 2017 och har idag kontor på tre orter i Sverige.
                Under 2 år har snart 5000 frilansare fått jobb genom att ha registrerat sig på A-team Consultings webbplats.
                <strong>
                    <span style="color: #4caa82">
                        Det är ett enkelt och smidigt sätt att anlita experta frilansare online.
                        Hundratals företag använder A-team Consulting för att förvandla sina idéer till verklighet.
                    </span>
                </strong> <br /><br />
                A-team Consulting är ett affärsdrivet bolag med fokus på smidiga lösningar.
                Engagemang i kombination med ett genuint intresse och djup förståelse för våra intressenters
                specifika behov gör vårt erbjudande unikt.
                Vår digitala satsning syftar till att digitalisera processen för ambitiösa frilansare och
                intresserade kunder så att de kommer i kontakt på ett effektivt sätt!
            </p>
        </div>
    </div>

    </div>