@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<div class="jumbotron">
    <div id="ContactPic" class="ContactUsPic">
        <img style="height: 330px; width: 85%; text-align:center;" src="~/Content/Pictures/contactUs.jpg" alt="Card image">
    </div><br><br>

    <address>
        <strong>Ana-Maria Ostojic:</strong>   <a href="mailto:amostojic@ateamconsulting.se">amostojic@ateamconsulting.se</a><br />
        <strong>Israel Sebastian Rubio:</strong> <a href="mailto:isrubio@ateamconsulting.se">isrubio@ateamconsulting.se</a><br />
        <strong>My Linh Duong:</strong>   <a href="mailto:mlduong@ateamconsulting.se">mlduong@ateamconsulting.se</a><br />
        <strong>Sanna Jangklint:</strong> <a href="mailto:sjangklint@ateamconsulting.se">sjangklint@ateamconsulting.se</a>
    </address>

    <p>&nbsp;</p>

    <address>
        Kristian IV:s Väg 5<br />
        903 27 Umeå<br />
        <abbr title="Telefonnummer">T:</abbr>
        073-000 00 08
    </address>
</div>
