@{
    ViewBag.Title = "Kontakt";
}
<br>

<div class="jumbotron">
    <h3>@ViewBag.Message</h3>
    <p>&nbsp;</p>

    <address>
        <strong>Ana-Maria Ostojic:</strong>   <a href="mailto:amostojic@ateamconsulting.se">amostojic@ateamconsulting.se</a><br />
        <strong>Israel Sebastian Rubio:</strong> <a href="mailto:isrubio@ateamconsulting.se">isrubio@ateamconsulting.se</a><br />
        <strong>My Linh Duong:</strong>   <a href="mailto:mlduong@ateamconsulting.se">mlduong@ateamconsulting.se</a><br />
        <strong>Sanna Jangklint:</strong> <a href="mailto:sjangklint@ateamconsulting.se">sjangklint@ateamconsulting.se</a>
    </address>

    <p>&nbsp;</p>

    <address>
        Kristian IV:s Väg 5<br />
        903 27 Umeå<br />
        <abbr title="Telefonnummer">T:</abbr>
        073-000 00 08
    </address>
</div>

<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic">
                        <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic">
                        <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic">
                        <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
</footer>

