@{
    ViewBag.Title = "Startsida";
}

<div class="jumbotron">
    <h1>Vi hjälper dig- Registrera dig idag</h1><br><br>

    <div class="StartpagePic">
        <img style="height: 400px; width: 100%; display: block;" src="~/Content/Pictures/workplace.jpg" alt="Card image">
    </div><br>

    <div class="row">
        <div class="col-md-6">
            <h2>För dig som är frilansare</h2>
            <p>
                Här kan du som frilansare registera dig och ladda upp ditt CV som potentiella
                arbetsgivare kan ta del av
            </p><br>
            <a href='@Url.Action("RegisterFreelancer", "Home")'>
                <input type='button'id="btnRegisterFreelancer" class="btn btn-primary btn-lg" value='Registrera frilansare' />
            </a>
        </div>

        <div class="col-md-6">
            <h2>Letar du efter någon med särskilda färdigheter?</h2>
            <p>
                Registrera dig nu och hitta just den talang du söker
            </p><br>
            <a href='@Url.Action("RegisterEmployer", "Home")'>
                <input type='button' id ="btnRegisterEmployer" class="btn btn-primary btn-lg" value='Registrera arbetsgivare' />
            </a>
        </div>
    </div>
</div>
