
@{
    ViewBag.Title = "RegisterEmployer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h3 id="registerText">Här registrerar du som är arbetsgivare dig</h3>

<form>
    <fieldset>
        <div class="form-group row">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="företag@företag.se" required>

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Lösenord</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*******" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Upprepa lösenord</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*******" required>
        </div>
    </fieldset>
    <a href='@Url.Action("EmployerView", "Employer")'>
        <input type='button' id="btnRegisterEmployer2" class="btn btn-primary btn-lg" value='Registrera' />
    </a>
</form>
